@import "../variables/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  font-size: $text_size;
  font-family: $barlow_font;
}
